
*{
    margin:0;
}
@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins.ttf');
  
}
body{
    font-family: poppins;
}

/* TOP SECTION STYLES */
/* ------------------------------------------------------------------------------------------------- */

#top_section{
    height: 700px;
    width: 100%;
   background-image: url('../images/background.png');
padding-top: 40px;
background-size: 100%;
background-repeat: no-repeat;
background-position: center;

}
#top_section > .nav{
    display: grid;
    grid-template-columns: 30% 70%;
}

.nav > .logo > img{
    height: 40px;
    float: left;

    margin: 20px;
}
.nav > .logo > p{
   color: hsl(61, 100%, 50%);
    margin:25px 0 0 10px;
    float: left;

  
}
.nav > .logo > p .big{
    color: hsl(0, 0%, 100%) !important;
    font-size: large;
     float: left;
 
   
 }
.nav  > .menus {
padding-right: 180px;
}
.nav  > .menus a{
    height: 40px;
    text-decoration: none;
    float: right;
    margin:15px 20px 15px 20px;
    color: white;
    
}
.nav  > .menus .btn1{
    background-color: #faff00;
    padding: 5px;
    height: 25px;
    border-radius: 6px;
    text-decoration: none;
    float: right;
    margin:15px 20px 15px 20px;
    color: black;
    
}
.nav  > .menus .btn2{
    background-color: black;
    padding: 5px;
    height: 25px;
    border-radius: 6px;
    text-decoration: none;
    float: right;
    margin:15px 20px 15px 20px;
    color:#faff00;
    
}
#top_section > .welcome_text >h1{
    color: #faff00;
    margin-left: 70px;
    font-size: 40px;
}
#top_section > .welcome_text >h3{
    color: #ffffff;
    margin-left: 70px;
}


/* MIDDLE SECTION STYLES */
/* ------------------------------------------------------------------------------------------------- */
#middle_section{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 35% 65%;
}
#middle_section > .text-s {
    padding-top:80px;
    padding-left:30px;
    width: 100%;
    /* padding-top: 30px; */
}
#middle_section > .image-s > img{
    width: 95%;   
    height: 400px; 
}
#middle_section > .text-s h1{
    font-size: xx-large;
}
#middle_section > .text-s p{
    color:rgb(63, 61, 61) ;
}
#middle_section > .text-s >.learn_more{
    color:#faff00 ;
    background-color: black;
    padding: 12px;
    border-top-right-radius: 10px;
    border: none;
    margin-top: 20px;
}
#middle_section > .text-s .line{
    margin-bottom: 15px;
background-image: linear-gradient(to right, rgb(219, 171, 13),rgb(192, 154, 83),rgb(97, 97, 11),rgb(102, 109, 43),rgb(87, 92, 71),rgb(0, 0, 0),rgb(0, 0, 0));
/* background-size: 200% 100%; */
/* background-color: red; */
width: 130px;
height: 3px;

}

/* BODDY SECTION STYLES */
/* ------------------------------------------------------------------------------------------------- */

#body_section{
    margin-top: 40px;
    padding-top: 110px;
    padding-left: 120px;
    padding-bottom:50px ;
    background-color: #F5F5F5;
}
#body_section > .line{
    margin-bottom: 15px;
    background-image: linear-gradient(to right, rgb(219, 171, 13),rgb(192, 154, 83),rgb(97, 97, 11),rgb(102, 109, 43),rgb(87, 92, 71),rgb(0, 0, 0),rgb(0, 0, 0));
    /* background-size: 200% 100%; */
    /* background-color: red; */
    width: 130px;
    height: 3px;
}

#body_section > .images{
    display: grid;
    padding-top: 100px;
    width: 80%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
}
#body_section > .images > .image1{
    border-radius: 30px;
   width: 100%;
   height:320px ;
   margin: 20px;
   background-color: white;


}

#body_section > .images > .image1 >.section_text{
   width: 100%;
   ;
  
   background-color:#F5F5F5;


}
#body_section > .images > .image1 > .section_image > img{
    width: 100%;
    height:240px ;
 
 }
 #body_section > .images > .image1 > .section_text > .title {
     background-color: white;
     height: 40px;
     margin-bottom: 2px;
 }
 #body_section > .images > .image1 > .section_text > .icons {
    height: 40px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;


}
#body_section > .images > .image1 > .section_text > .icons >.icon_child,.icon_child_start, .icon_child_end{
    height: 40px;
    width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: small;
    background-color: white;
  

}
#body_section > .images > .image1 > .section_text > .icons >.icon_child_start{
   border-bottom-left-radius: 30px;
  

}
#body_section > .images > .image1 > .section_text > .icons >.icon_child_end{
    border-bottom-right-radius: 30px;
   
 
 }
 #body_section > .images > .image1 > .section_text > .title >h3{
    margin: 15px;
    width: 100%;
    height:240px ;
 color: rgb(77, 75, 75);
 }

/* BOTTOM SECTION STYLES */
/* ------------------------------------------------------------------------------------------------- */
#bottom_section{
padding-top: 50px;
height: 170px;
background-image: linear-gradient(to right, rgb(49, 49, 47),rgb(63, 61, 58),rgb(117, 102, 14));

}